[Unit]
Description=Fan Controller (fanctl)
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/fanctl
Restart=always

[Install]
WantedBy=multi-user.target
